@import "~bootstrap/scss/bootstrap";
@import "roboto.css";

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background-image: url("../assets/head.png");
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 10px;
}
